/* full-height page for slippy map, thanks */
html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}

#info {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}

/* full-height the foundation off-canvas stuff also */
.off-canvas-wrapper { 
    height: 100%; 
}
.off-canvas-wrapper-inner { 
    height: 100%; 
    background-color: #424f5a;
    color: #fbfbfb;
}
.icon {
    width: 20px;
    height: 20px;
}

.off-canvas-content { 
    height: 100%; 
}

.off-canvas { 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.off-canvas .tabs-content { 
    height: 100%; flex: 1; 
}

/* slippy map widget */
.map { 
    width: 100%; 
    height: 100%; 
    min-height: 20px; 
    flex: 1; 
    background: url('/static/images/bg.png') repeat; 
    background-position: center;  
}

/* abs positioning shifts for OpenLayers widgets */
.ol-scale-line { 
    top: 4.5em; 
    left: auto; 
    right: 3em; 
    bottom: auto; 
}

.ol-zoom { 
    top: 2.5em; 
    left: auto; 
    right: .5em; 
    bottom: auto; 
}

/* hacks to widen the off-canvas area */
.off-canvas.position-left {
    left: -400px;
    width: 400px;
}

@media screen and (min-width: 40em) {
    .position-left.reveal-for-medium {
        left: 0;
    }
    .position-left.reveal-for-medium ~ .off-canvas-content {
        margin-left: 400px; 
    }
}

/* raise our widgets above the slippy map */
.map-widget { 
    position: absolute; 
    z-index: 1; 
}

/* remove some of the annoying tab box styles */
#offCanvasLeft { 
    background-color: transparent; 
}
#offCanvasLeft .tabs-content { 
    background-color: transparent; 
    border: 0; 
}

/* fix tool labels */
.text-right { 
    margin-right: 1em;
    color: #ffffff;
}

.tool-slice {
    margin-bottom: 4px;
}
.tool-slice .button.selected {
    border: 2px dotted #ffffff;
};

.button-group input{
  display: none;
}

.button-group input:checked + label,
.button-group input:checked + label:active {
    background-color: rgba(0,60,136,.7);
}

/* make tool button text bigger */
.button-group.expanded .button-tool { 
    padding: 0.5em; 
    font-size: 18px; 
}


#menu-tabs {
    background-color: transparent;
    border: 0;
}

#menu-pagesize {
    font-weight: bold;
}

#menu-scale {
    width: 7.15em;
}

.select-button {
    width: auto;
    background-image: none;
	color: #eee;
	cursor: pointer;
    font-size: .6rem;
    border: none;
    margin-right: -.3em;
    padding: 0.7em;
    height: auto;
}

#map-controls {
    top: .7em;
    right: 3em;
}

#map-controls .button-group {
    margin-bottom: -.05em;
}

#map-controls a, #map-controls .select-button {
	background-color: rgba(0,60,136,.3);
}

#map-controls a:focus, #map-controls a:hover,
#map-controls .select-button:focus, #map-controls .select-button:hover {
	background-color: rgba(0,60,136,.5);
}

/* Set height of internal layers to allow for bottom details */
#layers-tab-panels {
    min-height: 60vh;
    border-bottom: 1px solid #eee;
}

/* remove extra padding for tab boxes inside other tab boxes */
#layers-list {
    padding: 1rem 0 0 0;
}

/* custom F6 tab style overrides for the side buttons  */
.side-button > a {
    background-color: rgba(37,45,51,.5);
    border-left: 3px solid transparent;
    padding: 1em;
    font-size: 24px;
    color: white;
}

.side-button .icon {
    width: 24px;
    height: 24px;
}

.side-button > a:hover {
    background-color: rgba(37,45,51,.9);
}
.side-button > a:focus {
    background-color: rgba(37,45,51,.5);
}
.side-button > a[aria-selected="true"] {
    background-color: rgba(66,79,90,.9);
    border-left: 3px solid rgb(237, 177, 0);
}

/* fix absurdly large margins on button groups */
.button-group {
    margin-bottom: 1px;
}

