.DS_Store
node_modules
dist/dev
dist/www/dist
dist/www/gokart.html
dist/platforms
dist/release/static/js/dev.env.js
gokart/tmp

*.log
*.sw*
*.pyc
.env
.build_cordova.sh
build_cordova.env
venv/

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3
