{% extends 'layers.html' %}

{% block title %}Networked Locations{% endblock %}

{% block loader_script %}
<script>
// load map
{% if env.WMTS_SRC %}
gokart.defaultWMTSSrc = "{{ env.WMTS_SRC }}";
{% endif %}
{% if env.WFS_SRC %}
gokart.defaultWFSSrc = "{{ env.WFS_SRC }}";
{% endif %}

gokart.catalogue = {
    "dpaw_offices": {
        name: "P&W Offices",
        init: gokart.createTileLayer,
        id: "cddp:dpaw_offices",
        format: "image/png"
    },
    "telstra_gcm_4g_3g": {
        name: "Telstra coverage",
        init: gokart.createTileLayer,
        id: "dpaw:telstra_gcm_4g_3g",
        opacity: 0.5,
        format: "image/png"
    },
    "mapbox_outdoors": {
        name: "Mapbox Oudoors",
        init: gokart.createTileLayer,
        id: "dpaw:mapbox_outdoors"
    }
};

gokart.init([
    gokart.catalogue["dpaw_offices"].init(),
    gokart.catalogue["telstra_gcm_4g_3g"].init(),
    gokart.catalogue["mapbox_outdoors"].init()
]);
</script>
{% endblock %}
