{% extends 'layers_annotations.html' %}

{% block title %}Spatial Support System{% endblock %}

{% block tab_panels %}
{{ super() }}
<div class="tabs-panel" id="menu-tab-tracking">
    <div class="row collapse">
        <div class="columns">
            <ul class="tabs" data-tabs id="tracking-tabs">
                <li class="tabs-title is-active"><a href="#tracking-list-tab" aria-selected="true">Resource Tracking</a></li>
                <li class="tabs-title"><a href="#tracking-groups-tab" aria-selected="true">Device Groups</a></li>
            </ul>
        </div>
    </div>
    <div class="row collapse" id="tracking-tab-panels">
        <div class="columns">
            <div class="tabs-content vertical" data-tabs-content="tracking-tabs">
                <div id="tracking-list-tab" class="tabs-panel is-active" v-cloak>{% raw %}
                    <div class="row">
                        <div class="switch tiny">
                            <input class="switch-input" id="resourcesInViewport" type="checkbox" v-model="viewportOnly"/>
                            <label class="switch-paddle" for="resourcesInViewport">
                                <span class="show-for-sr">Viewport resources only</span>
                            </label>
                        </div>
                        <label for="resourcesInViewport" class="side-label">Restrict to viewport ({{ stats }})</label>
                    </div>
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <select name="select" v-model="cql" @change="setCQLFilter(cql)">
                                <option value="" selected>All resources</option> 
                                <option value="symbolid LIKE '%comms_bus'">Communications Bus</option>
                                <option value="symbolid LIKE '%gang_truck'">Gang Truck</option>
                                <option value="symbolid LIKE '%heavy_duty'">Heavy Duty</option>
                                <option value="(symbolid LIKE '%heavy_duty' OR symbolid LIKE '%gang_truck')">GT and HD</option>
                                <option value="symbolid LIKE '%aircraft'">Aircraft</option>
                            </select>
                        </div>
                        <div class="small-6 columns">
                            <input type="search" v-model="search" placeholder="Find a resource">
                        </div>
                    </div>
                    <div class="row">
                        <div class="switch tiny">
                            <input class="switch-input" id="resourceHistory" type="checkbox" v-model="toggleHistory"/>
                            <label class="switch-paddle" for="resourceHistory">
                                <span class="show-for-sr">Query history tools</span>
                            </label>
                        </div>
                        <label for="resourceHistory" class="side-label small-4">Query history</label>
                    </div>
                    <div id="history-panel" v-if="toggleHistory">
                        <div class="row collapse tool-slice">
                            <div class="small-2">
                                <label for="historyFrom">From:</label>
                            </div><div class="small-4">
                                <input type="text" v-model="historyFromDate" placeholder="yyyy-mm-dd"></input>
                            </div><div class="small-2">
                                <input type="text" v-model="historyFromTime" placeholder="24:00"></input>
                            </div>
                            <div class="small-4">
                                <select name="select" v-model="history" @change="historyRange = history">
                                    <option value="" selected>Date range</option> 
                                    <!-- values in milliseconds -->
                                    <option value="3600000">Last hour</option> 
                                    <option value="10800000">Last 3 hours</option> 
                                    <option value="86400000">Last day</option> 
                                    <option value="604800000">Last week</option> 
                                    <option value="2678400000">Last month</option> 
                                </select>
                            </div>
                        </div>
                        <div class="row collapse tool-slice">
                            <div class="small-2">
                                <label for="historyTo">To:</label>
                            </div><div class="small-4">
                                <input type="text" v-model="historyToDate" placeholder="yyyy-mm-dd"></input>
                            </div><div class="small-2">
                                <input type="text" v-model="historyToTime" placeholder="24:00"></input>
                            </div>
                            <div class="small-2"></div>
                            <div class="small-2">
                                <button class="button" @click="historyCQLFilter">Go</button>
                            </div>
                        </div>
                    </div>
                    <div id="tracking-list">
                        <div v-for="f in features" class="row feature-row" v-bind:class="{'device-selected': selected(f) }" @click="select(f)">
                            <partial name="resourceInfo"></partial>
                        </div>
                    </div>
                    {% endraw %}
                </div>
                <div id="tracking-groups-tab" class="tabs-panel">
                    Group search shortcuts here
                </div>
            </div>
        </div>
    </div>
    {% raw %}
    <div id="resourceInfo" class="hide">
        <div class="columns">
            <div class="feature-title"><img v-bind:src="f.get('icon')" /> {{ f.get('label') }} <small>({{ f.get('deviceid') }})</small></div>
            <small>{{ f.get('time') }}</small>
        </div>
    </div>
    {% endraw %}
    <style type="text/css">
        #tracking-list .feature-row {
            cursor: pointer;
            border-right: 1px transparent;
        }
        #tracking-list .feature-row:hover {
            border-right: 1px solid #fff;
        }
        .device-selected {
            background-color: #165016;
        }
        .feature-row:nth-child(even).device-selected {
            background-color: #185a18;
        }


    </style>
</div>
{% endblock %}

{% block tabs %}
{{ super() }}
<li class="tabs-title side-button"><a href="#menu-tab-tracking" title="Vehicle Tracking">
    <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-geolocate"></use></svg>
</a></li>
{% endblock %}

{% block loader_script %}
<script>
var stylecache = {};
var text_style = new ol.style.Text({
    offsetX: 12,
    textAlign: "left",
    font: "12px Helvetica,Roboto,Arial,sans-serif",
    stroke: new ol.style.Stroke({ color: "#fff", width: 4 })
});
var initStyle = function(icon) {
    var imageicon = new ol.style.Icon({
        src: gokart.svgToPNG(icon),
        opacity: .9
    });
    var style = new ol.style.Style({ image: imageicon, text: text_style });
    stylecache[icon] = style
    return style;
};
Vue.partial("resourceInfo", document.querySelectorAll("#resourceInfo")[0].innerHTML);
var addResource = function(f) {
    var color = "_red";
    if (f.get("age") < 24) { color = "_orange" };
    if (f.get("age") < 3) { color = "_yellow" };
    if (f.get("age") <= 1) { color = "_green" };
    f.set("icon", "/static/symbols/device/" + f.get("symbolid") + color + ".svg");
    f.set("label", f.get("name") || f.get("callsign") || f.get("rego") || f.get("deviceid"));
    f.set("time", moment(f.get("seen")).toLocaleString());
    // Set a different vue template for rendering
    f.set("partialId", "resourceInfo");
    // Set id for select tools
    f.set("selectId", f.get("deviceid"));
}
var resource_tracking_style = function(f, res) {
    var style = stylecache[f.get('icon')] || initStyle(f.get('icon'))
    if (gokart.pngs[style.getImage().iconImage_.src_]) { var style = initStyle(f.get('icon')) };
    if (res < 0.002) {
        style.getText().setText(f.get("label"));
    } else {
        style.getText().setText("");
    }
    return style
}
{% if env.WMTS_SRC %}
gokart.defaultWMTSSrc = "{{ env.WMTS_SRC }}";
{% endif %}
{% if env.WFS_SRC %}
gokart.defaultWFSSrc = "{{ env.WFS_SRC }}";
{% endif %}

// pack-in catalogue
var catalogue = [
    {
        init: gokart.createWFSLayer,
        name: "Resource Tracking",
        id: 'dpaw:resource_tracking',
        style: resource_tracking_style,
        onadd: addResource,
        refresh: 30
    },
    {
        init: gokart.createWFSLayer,
        name: "Resource Tracking History",
        id: 'dpaw:tracking_history_view',
        style: resource_tracking_style,
        onadd: addResource,
        cql_filter: false
    },
    {
        init: gokart.createTileLayer,
        name: "Firewatch Hotspots 72hrs",
        id: "landgate:firewatch_ecu_hotspots_last_0_72",
        format: "image/png",
        refresh: 60
    },
    {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Hotspots",
        id: "himawari8:hotspots",
        source: "/hi8/AHI_TKY_FHS",
        params: {
            FORMAT: "image/png"
        },
        refresh: 300,
    },
    {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 True Colour",
        id: "himawari8:bandtc",
        source: "/hi8/AHI_TKY_b321",
        refresh: 300,
        base: true
    },
    {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 3",
        id: "himawari8:band3",
        source: "/hi8/AHI_TKY_b3",
        refresh: 300,
        base: true
    },
    {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 7",
        id: "himawari8:band7",
        source: "/hi8/AHI_TKY_b7",
        refresh: 300,
        base: true
    },
    {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 15",
        id: "himawari8:band15",
        source: "/hi8/AHI_TKY_b15",
        refresh: 300,
        base: true
    },
    {
        init: gokart.createTileLayer,
        name: "State Map Base",
        id: 'cddp:smb_250K',
        base: true
    },
    {
        init: gokart.createTileLayer,
        name: "Virtual Mosaic",
        id: 'landgate:LGATE-V001',
        base: true
    }
];


// load map with default layers
gokart.init(catalogue, ['dpaw:resource_tracking', 'cddp:smb_250K'])
gokart.loadRemoteCatalogue('{{ env.CATALOGUE_SRC }}?format=json&application__name=sss');

var historyLayer = gokart.getLayer("dpaw:tracking_history_view");
var trackingLayer = gokart.getLayer("dpaw:resource_tracking");

// load custom annotation tools
var fireLineStyle = new ol.style.Style({
    stroke: new ol.style.Stroke({
        width: 8.0,
        lineDash: [20,20],
        color: [0, 114, 0, 1.0],
        lineCap: "square",
        lineJoin: "bevel"
    })  
});

var fireLineDraw = new ol.interaction.Draw({
    type: "LineString",
    features: gokart.ui.features
});


var fireBoundaryStyle = new ol.style.Style({
    stroke: new ol.style.Stroke({
        width: 4.0,
        color: [0, 0, 0, 1.0]
    }),
    fill: new ol.style.Fill({
        color: [0, 0, 0, 0.25]
    })
});

var fireBoundaryDraw = new ol.interaction.Draw({
    type: "Polygon",
    features: gokart.ui.features
});

var sssTools = [
    {
        name: "Fire Line Constructed",
        icon: "fa-birthday-cake",
        style: fireLineStyle,
        interactions: [fireLineDraw]
    },
    {
        name: "Fire Boundary",
        icon: "fa-cube",
        style: fireBoundaryStyle,
        interactions: [fireBoundaryDraw]
    }
];

sssTools.forEach(function(tool) {
    gokart.ui.annotations.tools.push(tool);
});


// template for the tracking tab
var trackingList = new Vue({
    el: "#tracking-list-tab",
    data: {
        viewportOnly: true,
        toggleHistory: false,
        search: "",
        cql: "",
        history: "",
        fields: ["id", "name", "callsign", "make", "model", "rego", "category", "deviceid", "symbol"],
        allFeatures: [],
        extentFeatures: [],
        historyFromDate: "",
        historyFromTime: "",
        historyToDate: "",
        historyToTime: "",
        historyRangeMilliseconds: 0
    },
    computed: {
        features: function() {
            if (this.viewportOnly) { return this.extentFeatures } else { return this.allFeatures }; 
        },
        stats: function() { return Object.keys(this.extentFeatures).length + "/" + Object.keys(this.allFeatures).length; },
        historyRange: {
            get: function() { return this.historyRangeMilliseconds },
            set: function(val) {
                this.historyRangeMilliseconds = val;
                currentDate = new moment();
                this.historyToDate = currentDate.format('YYYY-MM-DD');
                this.historyToTime = currentDate.format('HH:mm');
                fromDate = currentDate.subtract(val, "milliseconds");
                this.historyFromDate = fromDate.format('YYYY-MM-DD');
                this.historyFromTime = fromDate.format('HH:mm');
            }
        }
    },
    methods: {
        select: function(f) { gokart.ui.info.select(f) },
        selected: function(f) { return gokart.ui.info.selected(f) },
        setCQLFilter: function(cql) {
            trackingLayer.cql_filter = cql;
            trackingLayer.getSource().clear();
        },
        historyCQLFilter: function() {
            historyLayer.cql_filter = "deviceid in (" + gokart.ui.info.sel.join(",") + ") and seen between '" + this.historyFromDate + " " + this.historyFromTime + ":00' and '" + this.historyToDate + " " + this.historyToTime + ":00'";
            gokart.ui.catalogue.onLayerChange(historyLayer, true);
        },
    }
});


var renderTracking = debounce(function() {
    var layer = gokart.getMapLayer("dpaw:resource_tracking");
    if (!layer || !gokart.mapExportControls || layer.getSource().getFeatures().length == 0) { return };
    trackingList.extentFeatures = layer.getSource().getFeaturesInExtent(gokart.mapExportControls.mapLayout.extent);
    trackingList.allFeatures = layer.getSource().getFeatures();
}, 100);

gokart.map.getLayerGroup().on("change", renderTracking);
gokart.map.getView().on("propertychange", renderTracking);
</script>
{% endblock %}
