{% extends 'layers_annotations.html' %}

{% block title %}Spatial Support System{% endblock %}

{% block tab_panels %}
{{ super() }}
<div class="tabs-panel" id="menu-tab-tracking">
    <div class="row collapse">
        <div class="columns shrink">
            <ul class="tabs" data-tabs id="tracking-tabs">
                <li class="tabs-title is-active"><a href="#tracking-list-tab" aria-selected="true">Resource Tracking</a></li>
                <li class="tabs-title"><a href="#tracking-groups-tab" aria-selected="true">Device Groups</a></li>
            </ul>
        </div>
    </div>
    <div class="row collapse" id="tracking-tab-panels">
        <div class="columns">
            <div class="tabs-content vertical" data-tabs-content="tracking-tabs">
                <div id="tracking-list-tab" class="tabs-panel is-active" v-cloak>
                    <div class="row collapse">
                        <div class="small-6 columns">
                            <select name="select" v-model="cql" @change="setCQLFilter(cql)">
                                <option value="" selected>All resources</option> 
                                <option value="symbolid LIKE '%comms_bus'">Communications Bus</option>
                                <option value="symbolid LIKE '%gang_truck'">Gang Truck</option>
                                <option value="symbolid LIKE '%heavy_duty'">Heavy Duty</option>
                                <option value="(symbolid LIKE '%heavy_duty' OR symbolid LIKE '%gang_truck')">GT and HD</option>
                                <option value="symbolid LIKE '%aircraft'">Aircraft</option>
                            </select>
                        </div>
                        <div class="small-6 columns">
                            <input type="search" v-model="search">
                        </div>
                    </div>
                    <div id="tracking-list">
                        <div v-for="f in features | filterBy search in fields | orderBy 'seen' -1" class="row feature-row" 
                            @click="zoomTo(f.geometry.getCoordinates())">
                        {% block infotemplates %}
                            <div v-if="f.vueTemplate == 'resource_tracking'" class="small-12 columns">{% raw %}
                                <div class="feature-title"><img v-bind:src="f.icon" /> {{ f.label }} <small>({{ f.deviceid }})</small></div>
                                <small>{{ f.time }}</small>
                            </div>{% endraw %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
                <div id="tracking-groups-tab" class="tabs-panel">
                    Group search shortcuts here
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #tracking-list .feature-row {
            cursor: pointer;
            border-right: 1px transparent;
        }
        #tracking-list .feature-row:hover {
            border-right: 1px solid #fff;
        }
    </style>
</div>
{% endblock %}

{% block tabs %}
{{ super() }}
<li class="tabs-title side-button"><a href="#menu-tab-tracking" title="Vehicle Tracking">
    <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-geolocate"></use></svg>
</a></li>
{% endblock %}

{% block loader_script %}
<script>
// load map
var stylecache = {};
var text_style = new ol.style.Text({
    offsetX: 12,
    textAlign: "left",
    font: "12px Helvetica,Roboto,Arial,sans-serif",
    stroke: new ol.style.Stroke({ color: "#fff", width: 4 })
});
var initStyle = function(icon) {
    var imageicon = new ol.style.Icon({
        src: gokart.svgToPNG(icon),
        opacity: .9
    });
    var style = new ol.style.Style({ image: imageicon, text: text_style });
    stylecache[icon] = style
    return style;
};
var resource_tracking_style = function(f, res) {
    var color = "_red";
    if (f.get("age") < 24) { color = "_orange" };
    if (f.get("age") < 3) { color = "_yellow" };
    if (f.get("age") <= 1) { color = "_green" };
    var icon = "/static/symbols/device/" + f.get("symbolid") + color + ".svg";
    style = stylecache[icon]
    if (!style) { var style = initStyle(icon) }
    var png = gokart.pngs[style.getImage().iconImage_.src_]
    if (png) { var style = initStyle(icon) };
    if (!f.get("label")) {
        f.set("label", f.get("name") || f.get("callsign") || f.get("rego") || f.get("deviceid"));
        f.set("time", moment(f.get("seen")).toLocaleString());
    }
    if (!f.get("icon")) {
        f.set("icon", icon);
    }
    if (res < 0.002) {
        style.getText().setText(f.get("label"));
    } else {
        style.getText().setText("");
    }
    return style
};
{% if env.WMTS_SRC %}
gokart.defaultWMTSSrc = "{{ env.WMTS_SRC }}";
{% endif %}
{% if env.WFS_SRC %}
gokart.defaultWFSSrc = "{{ env.WFS_SRC }}";
{% endif %}

gokart.catalogue = {
    "resource_tracking": {
        init: gokart.createWFSLayer,
        name: "Resource Tracking",
        id: 'dpaw:resource_tracking',
        style: resource_tracking_style,
        vueTemplate: 'resource_tracking',
        refresh: 30
    },
    "hotspots": {
        init: gokart.createTileLayer,
        name: "Firewatch Hotspots 72hrs",
        id: "landgate:firewatch_ecu_hotspots_last_0_72",
        params: {
            FORMATS: "image/png"
        },
        refresh: 60
    },
    "himawari8-hotspots": {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Hotspots",
        source: "/hi8/fhs",
        refresh: 300,
    },
    "himawari8-bandtc": {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 True Colour",
        source: "/hi8/bandtc",
        refresh: 300,
        base: true
    },
    "himawari8-band3": {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 3",
        source: "/hi8/band3",
        refresh: 300,
        base: true
    },
    "himawari8-band7": {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 7",
        source: "/hi8/band7",
        refresh: 300,
        base: true
    },
    "himawari8-band15": {
        init: gokart.createTimelineLayer,
        name: "Himawari-8 Band 15",
        source: "/hi8/band15",
        refresh: 300,
        base: true
    },
    "state_map_base": {
        init: gokart.createTileLayer,
        name: "State Map Base",
        id: 'cddp:smb_250K',
        base: true
    },
    "virtual_mosaic": {
        init: gokart.createTileLayer,
        name: "Virtual Mosaic",
        id: 'landgate:LGATE-V001',
        base: true
    },
};
gokart.init([
    gokart.catalogue["resource_tracking"].init(),
    gokart.catalogue["state_map_base"].init()
]);
var trackingList = new Vue({
    el: "#tracking-list-tab",
    data: {
        features: [],
        search: "",
        cql: "",
        fields: ["name", "callsign", "make", "model", "rego", "category", "deviceid", "symbol"]
    },
    methods: {
        setCQLFilter: function(cql) {
            gokart.catalogue.resource_tracking.cql_filter = cql;
            gokart.catalogue.resource_tracking.olLayer.getSource().clear();
        },
        zoomTo: function(coords) {
            gokart.map.getView().setCenter(coords);
            if (gokart.get_scale() > 250) {
                gokart.set_scale(50)
            }
        }
    }
});

var renderTracking = debounce(function() {
    if (gokart.catalogue.resource_tracking.olLayer) {
        $("#menu-tab-tracking-label").parents("li").removeClass("hide");
        var layer = gokart.catalogue.resource_tracking.olLayer;
        var features = {};
        layer.getSource().getFeaturesInExtent(gokart.map.getView().calculateExtent(gokart.map.getSize())).forEach(function(f) {
            features[f.get("deviceid")] = f.getProperties()
        });
        trackingList.features = Object.values(features);
    } else {
        $("#menu-tab-tracking-label").parents("li").addClass("hide");
    }
}, 250);
$(trackingList.$el).on("click", "div[data-feature-id]", function() {
    var fid = $(this).attr("data-feature-id");
    var s = gokart.catalogue.resource_tracking.olLayer.getSource();
    var f = $.grep(s.getFeatures(), function(feat) {return feat.get("id") == fid})[0]
})
gokart.map.getLayerGroup().on("change", renderTracking);
gokart.map.getView().on("propertychange", renderTracking);
$("#resource-tracking-search").on("keyup", renderTracking);
</script>
{% endblock %}
