<!DOCTYPE html>
<html>
<head>
    <!-- Unicode is great -->
    <meta charset="utf-8"/>
    <!-- Page title -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Disable awful IE compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Force fit-to-viewport sizing on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Foundation 6 CSS framework -->
    <link rel="stylesheet" href="http://static.dpaw.wa.gov.au/static/libs/foundation/6.2.3/foundation-flex.min.css" type="text/css"/>
</head>
<body>
{{ htmlclone|safe }}
</body>
</html>

