{% extends 'layers.html' %}

{% block tab_panels %}
{{ super() }}
<div class="tabs-panel" id="menu-tab-annotations" v-cloak>{% raw %}
    <h3>Annotations (incomplete)</h3>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label">Tool:</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a v-for="t in tools" class="button button-tool" v-bind:class="{'selected': t==tool}" @click="setTool(t)" v-bind:title="t.get('name')">{{{ icon(t) }}}</a>
        </div></div>
        <div class="small-12" v-if="tool.get('name') == 'Pan'">Hi I'm PANNING</div>
    </div>
    <div v-if="advanced" class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label">Size:<br/>({{ size }})</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a @click="size = 8" v-bind:class="{'selected': size == 8}" class="button"><small>Small</small></a>
            <a @click="size = 12" v-bind:class="{'selected': size == 12}" class="button">Medium</a>
            <a @click="size = 16" v-bind:class="{'selected': size == 16}" class="button"><big>Large</big></a>
        </div></div>
    </div>
    <div v-if="advanced" class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label">Colour:</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a v-for="c in colours" class="button" title="{{ c[0] }}" @click="colour = c[1]" v-bind:class="{'selected': c[1] == colour}" v-bind:style="{ backgroundColor: c[1] }"></a>
        </div></div>
    </div>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label">Ops:</label></div>
        <div class="small-10">
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-cut" class="button"><i class="fa fa-cut" aria-hidden="true"></i> Cut</a>
                <a id="tool-copy" class="button"><i class="fa fa-copy" aria-hidden="true"></i> Copy</a>
                <a id="tool-paste" class="button"><i class="fa fa-paste" aria-hidden="true"></i> Paste</a>
            </div></div>
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-undo" class="button"><i class="fa fa-undo" aria-hidden="true"></i> Undo</a>
                <a id="tool-redo" class="button"><i class="fa fa-repeat" aria-hidden="true"></i> Redo</a>
            </div></div>
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-import" class="button"><i class="fa fa-upload" aria-hidden="true"></i> Import</a>
            </div></div>
        </div>
    </div>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label">Export:</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a class="button"><i class="fa fa-download" aria-hidden="true"></i> GeoJSON</a>
            <a class="button"><i class="fa fa-print" aria-hidden="true"></i> PDF</a>
        </div></div>
    </div>
    <h3>Selected Feature</h3>    
</div>{% endraw %}
{% endblock %}

{% block tabs %}
{{ super() }}
<li class="tabs-title side-button"><a href="#menu-tab-annotations" title="Annotations">
    <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-data"></use></svg>
</a></li>
{% endblock %}
