{% extends 'base.html' %}

{% block offcanvas %}
<div class="tabs-content vertical" data-tabs-content="menu-tabs">
    {% block tab_panels %}
    <div class="tabs-panel" id="menu-tab-layers">
        <ul class="tabs" data-tabs id="layers-tabs">
            <li class="tabs-title is-active"><a href="#layers-active" aria-selected="true">Active Layers</a></li>
            <li class="tabs-title"><a href="#layers-list" aria-selected="true">All Layers</a></li>
        </ul>
        <div class="tabs-content vertical" data-tabs-content="layers-tabs">
            <script id="layers-active-template" type="text/x-handlebars-template">
            {% raw %}
                {{#each layers}}
                    <div class="row" data-layer-id="{{ this.values_.id }}">
                        <h4>{{ this.values_.name }}</h4>
                    </div>
                {{/each}}
            {% endraw %}
            </script>
            <div class="tabs-panel is-active" id="layers-active"></div>
            <div class="tabs-panel" id="layers-list">
                populate from catalog
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block content %}
<ul class="tabs vertical map-widget" id="menu-tabs" data-tabs>
    {% block tabs %}
    <li class="tabs-title side-button"><a href="#menu-tab-layers" title="Map Layers">
        <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-layers"></use></svg>
    </a></li>
    {% endblock %}
</ul>
{{ super() }}
{% endblock %}
