{% extends 'layers.html' %}

{% block tab_panels %}
{{ super() }}
<div class="tabs-panel" id="menu-tab-annotations" v-cloak>{% raw %}
    <h3>Annotations (incomplete)</h3>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label text-right">Tool ({{ mode }}):</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a @click="setMode('pan')" v-bind:class="{'selected': mode == 'pan'}" class="button button-tool" title="Pan"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></a>
            <a @click="setMode('select')" v-bind:class="{'selected': mode == 'select'}" class="button button-tool" title="Select"><i class="fa fa-mouse-pointer" aria-hidden="true"></i></a>
            <button class="button button-tool" type="button" data-toggle="mode-dropdown">Styles</button>
            <div class="dropdown-pane" id="mode-dropdown" data-dropdown data-auto-focus="true">
                <ul class="menu vertical">
                    <li><a @click="setMode('point')" v-bind:class="{'selected': mode == 'point'}" class="button" title="Draw a point">
                        <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-point"></use></svg>
                    </a></li>
                    <li><a @click="setMode('line')" v-bind:class="{'selected': mode == 'line'}" class="button" title="Draw a line">
                        <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-line"></use></svg>
                    </a></li>
                    <li><a @click="setMode('polygon')" v-bind:class="{'selected': mode == 'polygon'}" class="button" title="Draw an area/polygon">
                        <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-area"></use></svg>
                    </a></li>
                </ul>
            </div>
        </div></div>
    </div>
    <div v-if="advanced" class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label text-right">Size ({{ size }}):</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a @click="size = 8" v-bind:class="{'selected': size == 8}" class="button"><small>Small</small></a>
            <a @click="size = 12" v-bind:class="{'selected': size == 12}" class="button">Medium</a>
            <a @click="size = 16" v-bind:class="{'selected': size == 16}" class="button"><big>Large</big></a>
        </div></div>
    </div>
    <div v-if="advanced" class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label text-right">Colour:</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a v-for="c in colours" class="button" title="{{ c[0] }}" @click="colour = c[1]" v-bind:class="{'selected': c[1] == colour}" v-bind:style="{ backgroundColor: c[1] }"></a>
        </div></div>
    </div>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label text-right">Ops:</label></div>
        <div class="small-10">
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-cut" class="button"><i class="fa fa-cut" aria-hidden="true"></i> Cut</a>
                <a id="tool-copy" class="button"><i class="fa fa-copy" aria-hidden="true"></i> Copy</a>
                <a id="tool-paste" class="button"><i class="fa fa-paste" aria-hidden="true"></i> Paste</a>
            </div></div>
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-undo" class="button"><i class="fa fa-undo" aria-hidden="true"></i> Undo</a>
                <a id="tool-redo" class="button"><i class="fa fa-repeat" aria-hidden="true"></i> Redo</a>
            </div></div>
            <div class="small-12"><div class="expanded button-group">
                <a id="tool-import" class="button"><i class="fa fa-upload" aria-hidden="true"></i> Import</a>
            </div></div>
        </div>
    </div>
    <div class="tool-slice row collapse">
        <div class="small-2"><label class="tool-label text-right">Export:</label></div>
        <div class="small-10"><div class="expanded button-group">
            <a class="button"><i class="fa fa-download" aria-hidden="true"></i> GeoJSON</a>
            <a class="button"><i class="fa fa-print" aria-hidden="true"></i> PDF</a>
        </div></div>
    </div>
    <h3>Selected Feature</h3>    
</div>{% endraw %}
{% endblock %}

{% block tabs %}
{{ super() }}
<li class="tabs-title side-button"><a href="#menu-tab-annotations" title="Annotations">
    <svg class="icon"><use xlink:href="/static/images/iD-sprite.svg#icon-data"></use></svg>
</a></li>
{% endblock %}
