<!-- jQuery, needed by just about everything -->
<script src="//static.dpaw.wa.gov.au/static/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Foundation 6 CSS framework, JS bits -->
<script src="//static.dpaw.wa.gov.au/static/libs/foundation/6.1.2/foundation.min.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/localforage/1.3.2/localforage.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/moment.js/2.9.0/moment.min.js"></script>
<!-- OpenLayers 3 map widget JS -->
<script src="//static.dpaw.wa.gov.au/static/libs/ol3/3.16.0/ol-debug.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/FileSaver.js/2014-11-29/FileSaver.js"></script>
<script src="//static.dpaw.wa.gov.au/static/libs/svg4everybody/2.0.3/svg4everybody.min.js"></script>
